[Unit]
Description=xsecurelock on system suspend
Before=suspend.target

[Service]
User=charles
Type=forking
Environment=DISPLAY=":1"
ExecStart=/usr/bin/xsecurelock

[Install]
WantedBy=suspend.target
