[go]
command=~/Documents/Perso/i3blocks-contrib/go/go
interval=once
label=go

[cpu_usage2]
command=~/Documents/Perso/i3blocks-contrib/cpu_usage2/cpu_usage2
markup=pango
interval=persist

[brightness]
command=~/Documents/Perso/i3blocks-contrib/brightness/bin/brightness -a /sys/class/backlight/intel_backlight/actual_brightness -m /sys/class/backlight/intel_backlight/max_brightness
interval=persist

[battery2]
command=~/Documents/Perso/i3blocks-contrib/battery2/battery2
markup=pango
interval=30

[ip]
command=hostname -I | cut -d' ' -f1 | awk '{ print $1 }'
interval=once
color=#91E78B

[time]
command=date '+%c'
interval=1
#command=date '+%D %T'

