SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/cpupowerctl"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/cpupowerctl"
